.headerComponent-container {

  display: block;
  width: 100%;
  height: 80px;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr;
  align-items: center;

}

.nav-button_group {
  padding-left: 100px;
  padding-top: 23px;

}

.nav-button_group button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.women-button {
  width: 75px;
  height: 56px;
}

.women-button:hover,
.men-button:hover,
.kids-button:hover {
  border-bottom: 2px solid #5ECE7B;
  color: #5ECE7B;
  font-weight: 600;
  height: 54px;
}

.men-button {
  width: 95px;
  height: 56px;
}

.men-button:hover {
  border-bottom: 2px solid #5ECE7B;
}

.kids-button {
  width: 68px;
  height: 56px;
}

.kids-button:hover {
  border-bottom: 2px solid #5ECE7B;
}

.cart-button_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

/* .mainShop-logo {
  width: 31px;
  height: 30px;
} */

.mainShop-button {

  cursor: pointer;
  margin: 0 auto;
}

.currency-logo {
  margin-right: 20px;
  width: 38px;
  height: 29px;
}

.cart-logo {
  width: 20px;
  height: 18px;
}

.cart-button {
  position: relative;
  cursor: pointer;
}

.header__cartCounter {
  position: absolute;
  top: -40%;
  left: 60%;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: black;
  padding: 2px 5px 1px 5px;
  border-radius: 90%;

}


.currency-button {
  cursor: pointer;
  border: white;
  font-size: 16px;
  margin-right: 20px;

}

.currency-button option {
  font-size: 16px;
}

.smallCart__componentBackground {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
  background: rgba(57, 55, 72, 0.22);
  backdrop-filter: blur(15px);
}