.categoryName-word {
  padding-top: 80px;
  padding-left: 101px;
  padding-bottom: 103px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  color: #1D1F22;
  text-transform: capitalize;
}